@font-face{
	font-family: 'Sneak-Black';
	src: url(../fonts/Sneak-Black.otf);
	src: url(../fonts/Sneak-Black.eot);
	src: url(../fonts/Sneak-Black.eot?#iefix) format('embedded-opentype');
}

.text {
  margin-left: 5%;
  margin-bottom: 20%;
  font-family: 'Sneak-Black', Arial, sans-serif;
}

.gallery{
  display: flex;
  flex-flow: row wrap;

  /*-webkit-column-count: 3;  Chrome, Safari, Opera
  -moz-column-count: 3; Firefox
  column-count: 3;
  column-gap: 150px 300px;
  column-rule-style: none;
  column-rule-width: medium;*/
}

.gallery-item {
  /*-webkit-column-span: 1;
  column-span: 1;
  grid-row:*/
  margin-bottom: 20px;
  flex: 0 0 calc(33.333% - 10px);
  text-align: center;
  margin: 5px;
}
